.container {
    top:5vh;
    width: 50vw;
    height: 95vh;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-color: #f1f1f1;
    color: #000;
    position: absolute;
    border-radius: 10px;
    justify-content: center;
    border-style: solid; 
    display: grid;
    overflow: auto;
    grid-template-columns: 1fr; 
    grid-auto-rows:min-content; 
}

.container img{
    width: 100%;
}

.container h1{
    text-align: center;
    height: fit-content;

}

.modalHeader{
    height: 20px;
    justify-content: start;
    align-items: center;
}

.modalHeader a {
    right: 50%;
    position: fixed;
}

.modalHeader svg{
    height: 2em;
    width: 2em;
}

article h1, a {
    
    text-align:center;
    display:block;
  

}

#author{

    text-align:center;
    display:block;
}

